<ul id="menu">
	<li class="dropdown">
		<span class="dropdown-btn">My Friends</span>
		<div class="friends">
			<div class="friend add-friend">Add friend</div>
		</div>
		<div class="remaining-users hidden"></div>
	</li>
	<% if (url != "/myBooks/") { %>
		<li><a href="/myBooks/">My Books</a></li>
	<% } %>
	
	<% if (url != "/library-interior/") { %>
		<li><a href="/library-interior/">Recommendations</a></li>
	<% } %>

	<li><a href="/..">Log out</a></li>
</ul>
