body {
	background-color: black;
	image-rendering: pixelated;
	--mediumbrown: #61462f;
	--darkbrown: #3b2c20;
}

#library-front {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-image: url("/images/library-front.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	opacity: 1;
	transition: opacity 2s;
}

.library-sign {
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translateX(-50%);
	background-color: var(--mediumbrown);
	border: 10px ridge var(--darkbrown);
	padding: 20px;
	transition: opacity 2s;
}

.library-sign > p {
	font-size: 60px;
	line-height: 40px;
	margin: 0;
	color: var(--parchment);
	text-shadow: -1px -1px 1px rgba(31, 16, 3, 0.5);
}

.registration-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -30%);
	width: 500px;
	height: 300px;
	background-color: var(--mediumbrown);
	border: 10px outset var(--darkbrown);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	transition: opacity 2s;
}

#first-name-input-label {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 40px;
	text-align: center;
	color: var(--parchment); /* Set text color to parchment */
	text-shadow: -1px -1px 1px rgba(31, 16, 3, 0.5);
}

#first-name-input {
	width: 300px;
	background-color: var(--parchment);
	border: 5px inset var(--darkbrown);
	font-family: "Courier New", Courier, monospace;
	font-size: 30px;
	line-height: 50px;
	text-align: center;
}

#submit-btn {
	width: 150px;
	background-color: var(--mediumgold);
	border: 5px outset var(--gold);
}

#submit-btn > p {
	margin: 0;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 35px;
	line-height: 35px;
	text-align: center;
	color: var(--parchment); /* Set text color to parchment */
	text-shadow: -1px -1px 1px rgba(133, 109, 48, 0.65);
}

#submit-btn:focus {
	border: 5px inset var(--gold);
}

@media (max-width: 480px) {
	.registration-form {
		width: 90vw;
		height: auto;
		padding: 5px;
	}

	#first-name-input-label {
		font-size: 6vw;
	}

	#first-name-input {
		width: 80vw;
		font-size: 5vw;
		line-height: 7vw;
	}

	#submit-btn {
		width: 40vw;
	}

	#submit-btn > p {
		font-size: 5vw;
		line-height: 5vw;
	}
}
