<!doctype html>
<html lang="en">
	<head>
		<%- include("templates/head") %>
		<title>Book Recommender</title>
		<!-- Styles and fonts -->
		<link rel="stylesheet" href="styles.css" />
		<link rel="stylesheet" href="frontstyles.css" />
		<link rel="icon" type="image/x-icon" href="/images/book-closed.png" />
	</head>

	<body>
		<div id="library-front">
			<div class="library-sign">
				<p>LIBRARY</p>
			</div>

			<form class="registration-form">
				<label id="first-name-input-label" for="first-name-input"
					>ENTER YOUR FIRST NAME BELOW</label
				>
				<input id="first-name-input" type="text" name="first-name-input" required />
				<button id="entry-btn" type="submit"><p>SUBMIT</p></button>
			</form>
		</div>

		<script src="universal-script.js"></script>
		<script src="library-front-script.js"></script>
	</body>
</html>
