<!doctype html>
<html lang="en">
	<%- include("../templates/head", {"title": "Their Books", "icon": "book-open", "styles": ["../interiorstyles.css"]}) %>

	<body>
		<div id="library-background">
			<%- include("../templates/navbar") %>
			<div class="mid-section">
				<h3 id="readingListTitle"></h3>
				<div class="book-container" id="my-books-container"></div>
				>
			</div>
			<div class="librarian-section">
				<div class="dialogue-div"></div>
				<canvas id="librarian-canvas" width="70" height="70"></canvas>
			</div>
		</div>
		<div id="darkness"></div>

		<!-- Scripts -->
		<script src="../universal-script.js"></script>
		<script src="../librarian-script.js"></script>
		<script src="script.js"></script>
		<script src="../library-interior/friends.js"></script>
		<script src="../library-interior/inbox.js"></script>
	</body>
</html>
