<!doctype html>
<html lang="en">
	<%- include("../templates/head") %>

	<body>
		<div id="library-background">
			<%- include("../templates/navbar") %>
			<div class="mid-section">
				<form class="book-preference-form" onsubmit="return false">
					<label id="book-preference-input-label" for="book-preference-input"
						>Enter your book preferences below:</label
					>
					<textarea
						id="book-preference-input"
						name="book-preference-input"
						rows="3"
						cols="44"
						required
					></textarea>
					<button id="submit-btn" type="submit">SUBMIT</button>
				</form>
				<div id="user-prompt-recommendations-container" class="book-container hidden"></div>
			</div>

			<div class="librarian-section">
				<div class="dialogue-div">
					<p>Tell me what books you like and I'll recommend some!</p>
				</div>
				<canvas id="librarian-canvas" width="70" height="70"></canvas>
			</div>
			<button class="new-prompt-btn hidden">NEW PROMPT</button>

			<div class="lights-down-overlay hidden"></div>
			<div class="inbox hidden">
				<p class="inbox-empty-message">You have no new messages.</p>
				<button class="close-btn">✕</button>
			</div>
		</div>
		<div id="darkness"></div>
		<script src="../universal-script.js"></script>
		<script src="../librarian-script.js"></script>
		<script src="friends.js"></script>
		<script src="inbox.js"></script>
		<script src="script.js"></script>
		<script src="new-prompt.js"></script>
	</body>
</html>
