<<<<<<< HEAD:public/interiorstyles.css
:root {
  --parchment: #fcf5e5;
  --beige: #f2e6c9;
  --darkgreen: #05211c;
  --mediumgreen: #08382f;
  --lightgreen: #0d594a;
}

* {
  box-sizing: border-box;
}

body {
  overflow: hidden;
=======

body {
  background-color: black;
>>>>>>> main:public/library-interior/styles.css
  min-width: 3000px;
}

#library-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--lightgreen);
  opacity: 1;
  transition: opacity 2s;
}

<<<<<<< HEAD:public/interiorstyles.css
#menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu > li {
  float: left;
  background-color: var(--mediumgreen);
}

.dropdown {
  position: relative;
  display: inline-block;
}

#menu > li > a,
span {
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Playwrite IT Moderna", serif;
  font-weight: 400;
  color: white;
}

.friends,
.remaining-users {
  display: none;
  position: absolute;
  background-color: var(--parchment);
  width: 100%;
  z-index: 1;
}

.remaining-users {
  left: 100%;
  display: block;
}

.friends a,
.remaining-users a {
  color: black;
  padding: 10px;
  font-family: "Playwrite IT Moderna", serif;
  text-decoration: none;
  display: block;
}

#menu > li:hover {
  background-color: var(--darkgreen);
}

.dropdown:hover .friends {
  display: block;
}

.friends a:hover,
.remaining-users a:hover {
  background-color: var(--beige);
}

#librarian-canvas {
  width: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: transparent;
  image-rendering: pixelated;
}

=======
>>>>>>> main:public/library-interior/styles.css
.dialogue-div {
  width: 275px;
  height: 150px;
  position: absolute;
  top: 25%;
  right: 29%;
  background-color: var(--parchment);
  border-radius: 10px;
  border: 3px solid var(--mediumgreen);
}

.dialogue-div:before {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 26px solid transparent;
  border-left-color: var(--mediumgreen);
  border-bottom: 0;
  margin-top: -13px;
  margin-right: -53px;
}

.dialogue-div:after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: var(--parchment);
  border-right: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-right: -19px;
}

.dialogue-div > p {
  margin: 0;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
<<<<<<< HEAD:public/interiorstyles.css
  font-family: "Playwrite IT Moderna", serif;
=======
>>>>>>> main:public/library-interior/styles.css
  font-weight: 300;
  font-size: 25px;
}

.book-preference-form {
  width: 580px;
  height: 240px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: var(--parchment);
  border-radius: 15px;
  border: 3px solid var(--mediumgreen);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 17px;
<<<<<<< HEAD:public/interiorstyles.css
  font-family: "Playwrite IT Moderna", serif;
=======
>>>>>>> main:public/library-interior/styles.css
  font-weight: 300;
}

#book-preference-input-label {
  font-size: 29px;
}

#book-preference-input {
  border: 2px solid var(--mediumgreen);
  border-radius: 10px;
  font-size: 20px;
  resize: none;
  padding-left: 5px;
}

#submit-btn {
  background-color: var(--mediumgreen);
  border-radius: 7px;
  border: none;
  width: 110px;
  height: 40px;
<<<<<<< HEAD:public/interiorstyles.css
  font-family: "Playwrite IT Moderna", serif;
=======
>>>>>>> main:public/library-interior/styles.css
  font-size: 20px;
  color: white;
}

#submit-btn:hover {
  box-shadow: 0 0 5px 5px var(--mediumgreen);
}

.book-container {
  height: 500px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 17px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
<<<<<<< HEAD:public/interiorstyles.css
  gap: 20px;
  padding: 20px;
  font-family: "Playwrite IT Moderna", serif;
  font-weight: 300;
}

.book {
  width: 144px;
  height: 216px;
  border: 3px solid var(--mediumgreen);
  position: relative;
}

.book-info-container {
  width: 600px;
  height: 170px;
  background-color: var(--parchment);
  border-radius: 15px;
  border: 3px solid var(--mediumgreen);
  position: absolute;
  bottom: 19px;
  left: 50%;
  transform: translateX(-40%);
}

.book-info-container > p {
  font-family: "Playwrite IT Moderna", serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  margin-left: 10px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.book-btn {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 10px;
  background-color: var(--mediumgreen);
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

.book-btn:hover {
  box-shadow: 0 0 3px 3px var(--lightgreen);
}

.accept {
  top: 10px;
}

.reject {
  top: 50px;
}

.accept-btn-label {
  height: 30px;
  position: absolute;
  top: 10px;
  left: 50px;
  background-color: white;
  color: black;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
}

.reject-btn-label {
  height: 30px;
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: white;
  color: black;
  font-size: 15px;
  text-align: center;
  line-height: 20px;
}

=======
  font-weight: 300;
}

>>>>>>> main:public/library-interior/styles.css
#exit-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  background-color: red;
}
<<<<<<< HEAD:public/interiorstyles.css

#darkness {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 1;
  transition: opacity 2s;
}

.hidden {
  display: none;
}

/* a {
  color: white;
  font-family: "Playwrite IT Moderna", serif;
  font-weight: 300;
  font-size: 25px;
} */
=======
>>>>>>> main:public/library-interior/styles.css
