<!doctype html>
<html lang="en">
	<head>
		<%- include("../templates/head") %>
		<title>My Books</title>
		<!-- Styles and fonts -->
		<link rel="stylesheet" href="../styles.css" />
		<link rel="icon" type="image/x-icon" href="/images/book-open.png" />
	</head>

	<body>
		<div id="library-background">
			<%- include('../templates/navbar.ejs') %>
			<div class="mid-section">
				<h3 id="readingListTitle">My Reading List</h3>
				<div class="book-container" id="my-books-container"></div>
				<h3 id="recommendationsListTitle">My Recommendations List</h3>
				<div class="book-container" id="my-recommendations-container"></div>
			</div>
			<div class="librarian-section">
				<div class="dialogue-div">
					<p>Here's your reading list and some of my recommendations too!</p>
				</div>
				<canvas id="librarian-canvas" width="70" height="70"></canvas>
			</div>
		</div>
		<div id="darkness"></div>

		<!-- Scripts -->
		<script src="../universal-script.js"></script>
		<script src="../librarian-script.js"></script>
		<script src="script.js"></script>
		<script src="../library-interior/friends.js"></script>
	</body>
</html>
