<!doctype html>
<html lang="en">
	<%- include("../templates/head", {"title": "My Books", "icon": "book-open", "styles": ["../interiorstyles.css"]}) %>

	<body>
		<div id="library-background">
			<%- include("../templates/navbar") %>
			<div class="mid-section">
				<h3 id="readingListTitle">My Reading List</h3>
				<div class="book-container" id="my-books-container"></div>
				<br />
				<div class="book-container" id="my-recommendations-container">
					<p id="recomendations-text">I've got just the books you might like! They're around here somewhere...</p>
				</div>
			</div>
			<div class="librarian-section">
				<div class="dialogue-div">
					<p>Here's your reading list and some of my recommendations too!</p>
				</div>
				<canvas id="librarian-canvas" width="70" height="70"></canvas>
			</div>

			<div class="lights-down-overlay hidden"></div>
			<div class="inbox hidden">
				<p class="inbox-empty-message">You have no new messages.</p>
				<button class="close-btn">✕</button>
			</div>
		</div>
		<div id="darkness"></div>

		<!-- Scripts -->
		<script src="../universal-script.js"></script>
		<script src="../librarian-script.js"></script>
		<script src="script.js"></script>
		<script src="../library-interior/friends.js"></script>
		<script src="../library-interior/inbox.js"></script>
	</body>
</html>
