:root {
  --parchment: #fcf5e5;
  --darkgreen: #05211c;
  --mediumgreen: #08382f;
  --lightgreen: #0d594a;
}

* {
  box-sizing: border-box;
  font-family: 'Playwrite IT Moderna', serif;
  font-weight: 300;
  font-size: 25px;
}

body {
  background-color: black;
  min-width: 3000px;
  text-align: center;
  overflow: auto;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.want-to-read {
  display: flex;
  justify-content: center;
  color: white;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.my-books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--parchment);
  border-radius: 15px;
  border: 3px solid var(--mediumgreen);
  max-width: 75vw;
}

.book {
  width: 144px;
  height: 216px;
  border: 3px solid var(--mediumgreen);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#librarian-canvas {
  height: auto; 
  max-width: 500px; 
  margin-left: 30px;
}
